table{
	margin-top: 50px;
	text-align: center;
	/* background: #333; */
	/* color: #fff; */
	border: 10px;
	border-color: solid black;
	border-collapse: collapse;
}

#show td{
	padding: 13px;
	border: 1px;
	border-style: solid;
	border-color: black;
	background-color: rgb(219, 172, 114);
}

#btna td input{
	margin-top: 5%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	background: linear-gradient(
		90deg,
		rgb(255, 115, 0) 0%,
		rgb(255, 167, 2) 100%
	);
	color: #fff;
	
	text-transform: capitalize;

}
#btna td input:hover{
	background: linear-gradient(
	  90deg,
	  rgb(195, 0, 255) 0%,
	  rgb(255, 2, 99) 100%
	);
  }


#show th{
	padding: 13px;
	border: 1px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	background: linear-gradient(
    90deg,
    rgb(241, 232, 95) 0%,
    rgb(243, 183, 55) 100%
    
  );
}

body{
	background: linear-gradient(
    90deg,
    rgb(0, 218, 247) 0%,
    rgb(19, 37, 201) 100%
    
  );
}
